body, html {
    height:100vh;
}
body {
font-family: 'Montserrat', sans-serif;
margin: 0;
display: grid;
grid-template-columns: 20% 80%;
grid-template-rows: 12% 80% 8%;
grid-template-areas: 
"header header"
"sidebar main"
"sidebar footer"
}

header {
grid-area: header;
background-color: #343434;
border-bottom: 5px solid #00a6fb;
background: linear-gradient(to right, #343434, #7f7b82);
}
.fas {
  padding-left: 2.5rem;
  padding-top: .5rem;
  color:#00a6fb;
  text-shadow: .11rem .11rem #000;
}
h1 {
  padding-left: 50%;
  display: inline;
  color: #00a6fb;
  text-shadow: .1rem .1rem #000; 
}
.aside {
grid-area: sidebar;
background: linear-gradient(to bottom,#343434, #7f7b82);
border-right: 5px solid #00a6fb;
}
.sideNav a {
  margin: auto;
  justify-content: center;
  align-items: center;
  display: block;
  padding: 1rem;
  letter-spacing: .1rem;
  text-decoration: none;
  color: #00a6fb;
  font-size: 1.5rem;
  font-weight: 800;
  text-shadow: .05rem .05rem black;
}
.sideNav a:hover {
  color: #fff;
  margin-left: .5rem;
  text-shadow: .08rem .08rem #000;
  box-shadow: .2rem .2rem #00a6fb;

}
main {
grid-area: main;
background: linear-gradient(45deg,#383838, #7f7b82);
}

footer {
grid-area: footer;
background-color: cornsilk;
}